@use 'variables'

@mixin button-not-bgColor
  padding: 0.75rem 2rem
  font-size: variables.$btn-16px
  font-weight: variables.$font-xs
  color: variables.$primary-color
  background-color: transparent
  border: solid 0.063rem variables.$primary-color
  border-radius: 0.313rem

@mixin button-bgColor
  padding: 0.75rem 0
  font-size: variables.$btn-16px
  font-weight: variables.$font-xs
  color: variables.$gray0
  background-color: variables.$primary-color
  border: none
  border-radius: 0.313rem
