// ****** Style sheet do projeto ********


// ******* CORES

// $linear-primary-color: linear-gradient(to right,#fff, #14EFF5)
// $linear-primary-color-banner: linear-gradient(to right,#8fdadd, #14EFF5)
$primary-color: #5CA6DA
$second-color: #FFA500
$second-color-500: #eb8b507a
$gray1000: #0C0B0B
$gray800: #262424
$gray700: #4D4949
$gray600: #736D6D
$gray300: #999191
$gray100: #D9CECE
$gray0: #FFFFFF


// ******* TIPOGRAFIA

$font-stack: 'Roboto', sans-serif

// Font size

$h1-24px: 1.5rem
$h2-20px: 1.25rem
$h3-16px: 1rem
$h4-14px: 0.875rem

$btn-16px: 1rem
$btn-14px: 0.875rem

$p-14px: 0.875rem
$p-12px: 0.75rem

// Font weight

$font-xs: 700
$font-md: 500
$font-sm: 300
