@use '../../Style/variables'

@media screen and (max-width: 501px)

  .container-home

    .container-search-motor
      padding: 2rem 1rem

      .content-search

        h1
          font-size: variables.$h1-24px

        .inputs-search
          flex-direction: column
