@use '../../Style/mixins'
@use '../../Style/variables'

.register-container
    display: flex
    flex-direction: column
    width: 100%
    min-height: calc( 100vh - 145px )
    height: 100%
    justify-content: center
    align-item: center
    background-color: variables.$gray100
    align-items: center

    .form-container
        display: flex
        flex-direction: column
        justify-content: center
        align-item: center
        width: 500px
        height: auto
        gap: 1rem
        padding: 1rem

        h1
            font-size: variables.$h1-24px
            font-weight: variables.$font-xs
            color: variables.$primary-color
            text-align: center
            margin-bottom: 1rem

        .name-user
            display: flex
            gap: 0.613rem

        .input-email, .input-password, .input-confirm-password, .input-name-user, .input-lastname-user
            width: 100%
            display: flex
            flex-direction: column
            gap: 0.5rem

            input
                width: 100%
                padding: 0.613rem 1rem
                border: none
                border-radius: 0.5rem
                color: variables.$gray800
                font-size: variables.$p-12px

            input::placeholder
                color: variables.$gray300

            label
                font-size: variables.$p-12px
                font-weight: variables.$font-md
                color: variables.$gray800

            .input-error
                background: variables.$erro-opacity
                border: solid 1px variables.$error

        .message-error
            font-size: variables.$p-12px
            color: variables.$error

        .checkbox-input
            width: 100%
            height: 100%
            display: flex
            align-items: center
            gap: 0.25rem

            label
                font-size: variables.$p-12px
                font-weight: variables.$font-md
                color: variables.$gray800

        .login-button
            @include mixins.button-bgColor
            cursor: pointer

        .login-button[disabled]
            opacity: 0.5
            cursor: not-allowed

        .register
            display: flex
            align-items: center
            gap: 4px
            justify-content: center

            span
                font-size: variables.$p-12px
                font-weight: variables.$font-md
                color: variables.$gray800

            .register-button
                background: none
                border: none
                cursor: pointer
                font-size: variables.$p-12px
                font-weight: variables.$font-md
                color: variables.$primary-color
