@use '../../Style/variables'
.container

  .container-header
    width: 100%
    transition: 0.6s

    .container-logo-noVisibility
      display: none
      transition: 0.6s

    .container-nav
      display: flex
      cursor: pointer
      display: inline-block
      margin-left: auto

      .hamburgue-mobile
        display: flex
        width: 1.875rem
        height: 0.24rem
        background-color: black
        display: block
        flex-direction: column
        transition: 0.6s


      .hamburgue-mobile::after
        content: ''
        margin: -0.625rem 0
        position: absolute
        width: 1.875rem
        height: 0.24rem
        background-color: black
        display: inline-block
        transition: 0.6s

      .hamburgue-mobile::before
        content: ''
        position: absolute
        margin: 0.625rem 0
        width: 1.875rem
        height: 0.25rem
        background-color: black
        display: inline-block
        transition: 0.6s


.container-active

  position: relative

  .container-header
    padding: 2rem
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    height: calc( 100% - 60px)
    background-color: cyan
    transition: 0.6s
    position: absolute

    .container-logo-noVisibility
      display: none
      transition: 0.6s

    .container-nav-open
      display: flex
      flex-direction: column
      transition: 0.6s
      position: relative
      margin: 2rem 0
      gap: 2rem
      height: 100%
      width: 100%

      .hamburgue-mobile
        width: 1.875rem
        height: 0.25rem
        background-color: none
        flex-direction: column
        transition: 0.6s
        cursor: pointer

      .hamburgue-mobile::after
        content: ''
        top: -0.25rem
        transform: rotate(-135deg)
        position: relative
        width: 1.25rem
        height: 0.25rem
        background-color: black
        display: block
        transition: 0.6s

      .hamburgue-mobile::before
        content: ''
        transform: rotate(135deg)
        position: relative
        width: 1.25rem
        height: 0.25rem
        background-color: black
        display: block
        transition: 0.6s

      .info-use-logged
        display: flex
        right: 0

        .user-logged
          display: flex
          flex-direction: column
          align-items: flex-end
          gap: 1rem
          height: 100%
          width: 100%

          .avatar-user
            display: flex
            align-items: center
            justify-content: center
            width: 2.31rem
            height: 2.31rem
            background-color: variables.$primary-color
            border-radius: 50%

            span
            font-size: variables.$h2-20px
            color: variables.$gray0
            text-transform: uppercase

          .name-user
            display: flex
            flex-direction: column
            align-items: flex-end

            span
              color: variables.$gray800
              font-size: variables.$h3-16px
              font-weight: variables.$font-xs

            :nth-child(2)
              color: variables.$primary-color

          .button-logout
            position: absolute
            bottom: 0
            gap: 0.125rem
            margin-bottom: 0.5rem
            border-bottom: solid 1px variables.$gray1000
            padding: 0 0 1rem 0
            width: 100%
            display: flex
            gap: 0.188rem
            align-items: center
            justify-content: flex-end

            span
              font-size: variables.$p-12px
              font-weight: variables.$font-xs
              color: variables.$second-color

            .btn-logout
              color: variables.$primary-color
              font-size: variables.$btn-14px
              background: none
              border: none
              cursor: pointer

        .menu-nav-mobile
          display: flex
          flex-direction: column
          align-items: center
          gap: 2rem
          width: 100%
          height: 100%
          transition: 0.6s

          h1
            font-size: variables.$h2-20px
            font-weight: variables.$font-xs
            text-transform: uppercase
            color: variables.$gray0

          .nav-list
            display: flex
            flex-direction: column
            gap: 1rem
            width: 100%

            li
              display: flex
              justify-content: center
              width: 100%
              padding: 0 0 1rem 0
              border-bottom: solid 0.125rem #c2c2c2

              .btn-signIn,.btn-signUp
                background: none
                border: none
                color: variables.$gray800
                font-size: variables.$h3-16px
                font-weight: variables.$font-xs
                cursor: pointer

  footer
    display: block
    position: relative
    bottom: 0
    z-index: 1
    width: 100%
    height: 60px
    background: blue
