.loginPage
    height:100vh

.loginArea
    height:100vh
    flex-direction:row
    flex-wrap:nowrap

.loginForm
    display:flex
    align-items:center
    justify-content:center

.loginPageImage
    display:flex
    width:50vw

.loginPageImage img
    width:50%
    height:50%

.formTextInput
    margin:10px

.form-label
    margin:5px

.loginFormButton
    alig-self:center
    width:30%
