@use '../../Style/variables'

.container-calendar
  display: flex
  width: 100%
  height: 100%
  background-color: #fff
  transition: 0.6s
  border-radius: 0.313rem
  box-shadow: 1px 1px 1px 1px variables.$gray300
  overflow: hidden
  gap: 1rem

  .react-calendar
    width: 100%
    border: none

  .react-calendar__navigation__label__labelText
    font-size: variables.$h3-16px
    font-weight: variables.$font-xs


  .react-calendar__tile
    border-radius: 1rem
    color: variables.$gray800
    font-weight: variables.$font-xs
    font-size: variables.$p-14px

  .react-calendar__tile:disabled
    background: none
    color: variables.$gray300
    font-weight: variables.$font-sm

  .react-calendar__tile--active
    background: variables.$primary-color

  .react-calendar__tile--active:hover
    background: variables.$primary-color
