spring:
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/DigitalBooking
    username: apiUser
  jpa:
    hibernate.ddl-auto: update
    generate-ddl: true
    show-sql: true

server:
  error:
    include-message: always
    include-binding-errors: always
    include-exception: false
    include-stacktrace: never
logging:
  file:
    name: logs/application-debug.log
  pattern:
    console: "%d %-5level %logger : %msg%n"
    file: "%d %-5level [%thread] %logger : %msg%n"
  level:
    "[org.springframework.web]": ERROR
    "[org.hibernate]": ERROR
    "[com.dh.digitalBooking]": DEBUG
